body {
    font-family: 'Lato', sans-serif;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.error {
    color: red;
}


/* Login */

#username,
#password {
    width: 100%;
}


/* New Post */

#content {
    height: 300px;
}


/* Posts */

.post + .post {
    margin-top: 15px;
}

.post-heading {
    position: relative;
    border-bottom: 3px solid #666;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
}

.post-date {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #999;
}

.post-content {
    margin-top: 5px;
    margin-bottom: 10px;
}

/* Comments */

.comments {
    border: 1px solid #d6e0d1;
}

.comment-single {
    border-top: 1px solid #d6e0d1;
}

.comment-input-form, .comment-edit-form {
    display: none;
}

.comment-content {
    margin-left: 10px;
}
