{% extends "base.html" %}
{% block content %}
<h2>Edit/Delete Post</h2>
<form method="post">
    <div class="form-group">
        <label for="subject">Subject</label>
        <input type="text" class="form-control" name="subject" value="{{ subject }}" id="subject">
    </div>
    <div class="form-group">
        <label for="content">Content</label>
        <textarea class="form-control" name="content" id="content">{{ content }}</textarea>
    </div>
    <div class="form-group">
        <div class="error">{{ error }}</div>
    </div>
    <button type="submit" class="btn btn-default btn-sm" name="action" value="save edit">Save Edit</button>
    <button type="submit" class="btn btn-danger btn-sm" name="action" value="delete">Delete</button>
    <a class="btn btn-primary btn-sm pull-right" href="/blog" role="button">Cancel</a>
</form>
{% endblock %}
