<div class="post">
    <div class="post-heading">
        <div class="post-title">
            {{ p.subject }}
        </div>
        <div class="post-date">
            {{ p.created.strftime("%b %d, %Y") }}
        </div>
    </div>
    <div class="post-content">
        {{ p._render_text | safe }}
    </div>
</div>
<!-- Only logged in users will see these buttons -->
{% if user_id %}
<!-- If the current user is the author of a post, then show the edit/delete button -->
{% if p.author.id() == user_id %}
<form method="post">
    <input type="hidden" name="post_id" value="{{ p.key.id() }}">
    <input type="submit" name="action" value="edit/delete">
</form>
<div>
    <a href="#" class="like-noclick" data-key="{{ p.key.id() }}">
        <span>{{p.likes}}</span> Likes
    </a>
</div>
{% else %}
<!-- Only display like button if user is not the author of a post -->
<div>
    <a href="#" class="like" data-key="{{ p.key.id() }}">
        <span>{{p.likes}}</span> Likes
    </a>
</div>
{% endif %}
{% endif %}
