<!DOCTYPE html>
<html>

<head>
    <title>Signup</title>
    <link type="text/css" rel="stylesheet" href="/css/main.css" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />
</head>

<body>
    <div class="container">
        <header class="row">
            <div class="col-xs-6 col-xs-offset-3 text-center">
                <h2>Signup</h2>
            </div>
        </header>
        <section class="row">
            <div class="col-xs-6 col-xs-offset-3">
                <form method="post">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" name="username" value="{{ username }}" id="username" placeholder="Username">
                        <div class="error">
                            {{ error_username }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" value="" id="password" placeholder="Password">
                        <div class="error">
                            {{ error_password }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="verifypassword">Verify Password</label>
                        <input type="password" class="form-control" name="verify" value="" id="verifypassword" placeholder="Re-enter Password">
                        <div class="error">
                            {{ error_verify }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="email" value="{{ email }}" id="email" placeholder="Email (optional)">
                        <div class="error">
                            {{ error_email }}
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default btn-sm">Submit</button>
                        <p>Already a member? <a href="/login">Login now</a></p>
                    </div>
                </form>
            </div>
        </section>
    </div>
</body>

</html>
